<%- include("../partials/header.ejs"); %>

    <%- include("../partials/nav.ejs"); %>

        <div class="container">
            <div class="p-5 my-4 bg-light rounded-3">
                <form id="createPost" action="/post/update/<%= post._id%>" method="POST" class="py-3">
                    <div class="mb-5">
                        <label class="form-label" for="inputTitle">Title</label>
                        <input type="title" name='title' value="<%= post.title%>" class="form-control" id="inputTitle" placeholder="Subject">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="inputContent">Content</label>
                        <textarea type="textarea" name='content' class="form-control" rows="5" id="inputContent" placeholder="What are your thoughts?"><%=post.content%></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Update post</button>
                </form>
            </div>


            <%- include("../partials/footer.ejs"); %>