<%- include("../partials/header.ejs"); %>

    <%- include("../partials/nav.ejs"); %>

        <div class="container-fluid">
            <div class="p-5 my-4 bg-light rounded-3">
                <%- include("../partials/flash.ejs"); -%>
                    <div class="d-flex align-items-center mb-2">
                        <a class="d-flex align-items-center me-3" href="#" id="userImg">
                            <% if(fellow.image) { %>
                                <img src="<%=fellow.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                                <% }%>
                        </a>
                        <h4 class="me-3 text-capitalize">
                            <%= fellow.username %>
                        </h4>
                        <% if(user._id && fellow._id) { %>
                            <% let following = user.following;
                        let action = following.includes(fellow._id) ? "unfollow" : "follow";
                        %>

                                <% if (action === "unfollow") { %>
                                    <button class="btn btn-danger" id="folButton" data-follow="<%=user._id%>;<%=fellow._id%>;<%=action%>"><i class='fas fa-user-large-slash'></i> Unfollow</button>


                                    <% }else {%>
                                        <button class="btn btn-success" id="folButton" data-follow="<%=user._id%>;<%=fellow._id%>;<%=action%>"><i class='fas fa-user-check'></i> Follow</button>

                                        <%}%>
                                            <%}%>

                    </div>
                    <nav>
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab"> Posts: <%= fellowPosts.length %></button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab">Followers: <%= followers.length %></button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab">Following: <%= following.length %></button>
                            </li>
                        </ul>
                    </nav>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active border px-3 pt-3" id="posts" role="tabpanel">
                            <% if (fellowPosts.length === 0) { %>
                                <p> This user has no posts </p>
                                <% } %>

                                    <% if(fellowPosts.length > 0) {
			  fellowPosts.forEach(fellowPost => {%>
                                        <a href='/post/<%= fellowPost._id %>' class="a-card">
                                            <div class="d-flex border-bottom rounded-3 p-2 mb-2">
                                                <div class="flex-shrink-0">
                                                    <% if(fellow.image) { %>
                                                        <img src="<%=fellow.image%>" class="rounded-circle m-3" height="30" alt="User's avatar" loading="lazy" />
                                                        <% }%>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>
                                                        <%= fellowPost.title%>
                                                    </h6>
                                                    <p><small class="text-muted"><i> Posted by <span class="text-capitalize"><%=fellowPost.user%></span> on <%= fellowPost.createdAt.toDateString() %></i></small></p>

                                                </div>
                                            </div>
                                        </a>
                                        <% });
			} %>
                        </div>

                        <div class="tab-pane border px-3 pt-3" id="followers" role="tabpanel">
                            <% if(followers.length === 0) { %>
                                <p>
                                    <span class="text-capitalize"><%=fellowPost.user%></span> has no followers.</p>
                                <% } %>

                                    <% if(followers.length > 0) {
			  followers.forEach(follow => { %>
                                        <a href='/folprofile/<%=follow._id%>' class="a-card">
                                            <div class="d-flex border-bottom rounded-3 p-2 mb-2">
                                                <div class="flex-shrink-0">
                                                    <% if(fellow.image) { %>
                                                        <img src="<%=fellow.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                                                        <% }%>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="text-capitalize">
                                                        <%= follow.username %>
                                                    </h6>
                                                    <p>
                                                        <%= follow.about %>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <% });
			} %>
                        </div>

                        <div class="tab-pane border-bottom px-3 pt-3" id="following" role="tabpanel">
                            <% if(following.length === 0) { %>
                                <p>
                                    <span class="text-capitalize"><%=fellowPost.user%></span> isn't following any users </p>
                                <% } %>

                                    <% if(following.length > 0) {
			  following.forEach(follow => {
			%>
                                        <a href='/folprofile/<%=follow._id%>' class="a-card">
                                            <div class="d-flex border-bottom rounded-3 p-2 mb-2">
                                                <div class="flex-shrink-0">
                                                    <% if(follow.image) { %>
                                                        <img src="<%=follow.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                                                        <% }%>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="text-capitalize">
                                                        <%= follow.username %>
                                                    </h6>
                                                    <p>
                                                        <%= follow.about %>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <% });
			} %>
                        </div>
                    </div>


                    <!-- End of container -->
            </div>

            <%- include("../partials/footer.ejs"); %>