<%- include("../partials/header.ejs"); %>

    <%- include("../partials/nav.ejs"); %>

        <div class="container-fluid">
            <div class="p-5 my-4 bg-light rounded-3">
                <div class="d-flex align-items-center mb-2">
                    <a class="d-flex align-items-center me-3" href="#" id="userImg">
                        <% if(user.image) { %>
                            <img src="<%=user.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                            <% }%>
                    </a>
                    <h4 class="me-3">Icon
                        <%= user.username.toUpperCase() %>
                    </h4>
                </div>
                <nav>
                    <!-- Nav tabs -->

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab"> Posts: <%= posts.length %></button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab">Followers: <%= followers.length %></button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab">Following: <%= following.length %></button>
                        </li>
                    </ul>
                </nav>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active border px-3 pt-3" id="posts" role="tabpanel">
                        <% if (posts.length === 0) { %>
                            <p> You have no posts, click the 'Creat post' button to share your thoughts </p>
                            <% } %>

                                <% if(posts.length > 0) {
			  posts.forEach(post => {%>
                                    <div class="d-flex border rounded-3 p-2 mb-2">
                                        <div class="flex-shrink-0">
                                            <% if(user.image) { %>
                                                <img src="<%=user.image%>" class="rounded-circle m-3" height="30" alt="User's avatar" loading="lazy" />
                                                <% }%>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>
                                                <%= post.title %>
                                            </h6>
                                            <p><small class="text-muted"><i> Posted by <%=post.user%> on <%= post.createdAt.toDateString() %></i></small></p>
                                            <a href='/post/<%= post._id %>' class="btn btn-sm btn-primary">View Post</a>

                                        </div>
                                    </div>
                                    <% });
			} %>
                    </div>

                    <div class="tab-pane border px-3 pt-3" id="followers" role="tabpanel">
                        <% if(followers.length === 0) { %>
                            <p>You are not being followed yet </p>
                            <% } %>

                                <% if(followers.length > 0) {
			  followers.forEach(follow => { %>
                                    <div class="d-flex border rounded-3 p-2 mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="<%=follow.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href='/folprofile/<%= follow._id %>'>
                                                <%= follow.username.toUpperCase() %>
                                            </a>
                                            <p>
                                                <%= follow.about %>
                                            </p>
                                            <a href='/folprofile/<%= follow._id %>' class="btn btn-sm btn-primary">View Profile</a>

                                        </div>
                                    </div>
                                    <% });
			} %>
                    </div>

                    <div class="tab-pane border px-3 pt-3" id="following" role="tabpanel">
                        <% if(following.length === 0) { %>
                            <p>You are not following any users </p>
                            <% } %>

                                <% if(following.length > 0) {
			  following.forEach(follow => {
			%>
                                    <div class="d-flex border rounded-3 p-2 mb-2">
                                        <div class="flex-shrink-0">
                                            <% if(follow.image) { %>
                                                <img src="<%=follow.image%>" class="rounded-circle" height="30" alt="User's avatar" loading="lazy" />
                                                <% }%>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href='/folprofile/<%=follow._id%>'>
                                                <%= follow.username.toUpperCase() %>
                                            </a>
                                            <p>
                                                <%= follow.about %>
                                            </p>
                                            <a href='/folprofile/<%=follow._id%>' class="btn btn-sm btn-primary">View Profile</a>

                                        </div>
                                    </div>
                                    <% });
			} %>
                    </div>
                </div>


                <!-- End of container -->
            </div>

            <%- include("../partials/footer.ejs"); %>
